@page
@model Lab5.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I am a third-year student studying Computer Engineering Technology at Algonquin College. I have experienced working in Government as an IT Technician which helped me to grow my hardware skills. I am interested in improving my skills to develop mobile apps for Android and iOS operating systems.</p>
</div>